@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6" Class="mr-4">TomSandbox WMS</MudText>
        <MudButton Href="/" Color="Color.Inherit">Home</MudButton>
        <MudButton Href="/inbox" Color="Color.Inherit">Inbox</MudButton>
        <MudButton Href="/reports/stock" Color="Color.Inherit">Stock</MudButton>
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                <UserBadge />
                <form method="post" action="/bff/logout" data-enhance-nav="false" style="display:inline">
                    <MudButton ButtonType="ButtonType.Submit" Color="Color.Inherit">Logout</MudButton>
                </form>
            </Authorized>
            <NotAuthorized>
                <MudButton Href="/login" Color="Color.Inherit">Login</MudButton>
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>
